:root{
    background-color:lightpink;
}   
h1{
    color:rgb(243, 231, 233);
}
.header{
    color:rgb(243, 231, 233);
}
.head{
    color:rgb(243, 231, 233);
}
.head{
    background-color: darkgrey;
   
}
.header{
    background-color:rgb(207, 179, 179);
}
tr{
    background-color:rgb(236, 221, 226);
}